.card{
    
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    margin:50px 0;
    cursor: pointer;
    background-color: white;
    padding: 2px;
}

img{
    max-height: 300px;
    max-width:100%;
    min-width: 100%;
}